{% extends "wrapper.html" %}
{% block title %} - Travel{% endblock title %}
{% block content %}

<p>
    We shall post information regarding travel to, from and between our wedding venues in the near future.
</p>

<!-- <h4>Chatelherault</h4>
<p>
    By road:<br />
    By bus: (nearest bus stop, route number etc.)<br />
    By rail: (nearest station)<br />
    By air: (nearest airport, transport to from)<br />
    Map:<br />
</p>

<h4>The Popinjay Hotel</h4>
<p>
    By road:<br />
    By bus: (nearest bus stop, route number etc.)<br />
    By rail: (nearest station)<br />
    By air: (nearest airport, transport to from)<br />
    Map:<br />
</p>

<h4>The Route Between the Two</h4>
<p>
    By road:<br />
    Bu bus: (nearest bus stop, route number etc.)<br />
    By rail: (nearest station)<br />
    By air: (nearest airport, transport to from)<br />
    Map:<br />
</p>

<h4>Public Transport Information</h4>
<p></p> -->

{% endblock content %}